@using System.Data

@model DataSet

@{
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Management</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>FirstName</th>
            <th>Surname</th>
            <th>EmailAddress</th>
            <th>IDNumber</th>
            <th>StudentNumber</th>
        </tr>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                <td>@row["FirstName"]</td>
                <td>@row["Surname"]</td>
                <td>@row["EmailAddress"]</td>
                <td>@row["IDNumber"]</td>
                <td>@row["StudentNumber"]</td>
            </tr>
        }
    </table>
</body>
</html>

